html, body{
    height:100%;
    margin:0;
}

#root{
    display: flex;
    flex-direction: column;

    height:100%;
    background-color: gray;
}


.app-container{
    flex:1;
    display: flex;
    
    flex-direction: column;



    gap:20px
}

.section{
    flex:1;
    display: flex;

    flex-direction: column;

    background-color: white;

    padding:20px;

    border-radius: 20px;
}

.form-field{
    display: flex;

    flex-direction: column;
}


.invalid{
    border: 1px solid red;
    background-color: firebrick;
}


button{
    height:50px;
    width: 100%;

    color: white;
    background-color: green;
    border-radius: 15px;
}

.steps{
    
    padding:20px;

    border-radius: 20px;
    background-color: white;
}